<h1>INDEX</h1>
<nav>
  <a routerLink="/index/login" routerLinkActive="active">Login</a>
  <a routerLink="/index/register" routerLinkActive="active">Register</a>
  <a routerLink="/index/recover" routerLinkActive="active">Register</a>
  <a routerLink="/index/media" routerLinkActive="active">Media</a>
  <a routerLink="/index/contact" routerLinkActive="active">Contact</a>
  <a routerLink="/index/rules" routerLinkActive="active">Rules</a>
  <a routerLink="/user/home" routerLinkActive="active" style="color:magenta">User Panel</a>
</nav>

<router-outlet></router-outlet>
